[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    raise AssertionError
    raise NotImplementedError

[run]
source = mc
omit =
    mc/dmd_test.py
    mc/fbo.py
    mc/bcp_server.py
