dist: trusty
sudo: required

matrix:
  fast_finish: true
  include:
   - os: linux
     env: LINUX=ubuntu1404
     sudo: required
     language: python
   - os: linux
     env: LINUX=ubuntu1604
     sudo: required
     language: python
   - os: linux
     env: LINUX=debian-jessie
     sudo: required
     language: python
   - os: osx
     language: generic

services:
  - docker

before_install:
  - if [ "${TRAVIS_OS_NAME}" == "linux" ]; then
       cd docker/${LINUX}; docker build -t mpf-mc/image .; cd ../../;
    fi;
  - git clone --recursive --branch ${TRAVIS_BRANCH} https://github.com/missionpinball/mpf.git _mpf || git clone --recursive --branch `python3 get_version.py` https://github.com/missionpinball/mpf.git _mpf || git clone --recursive --branch dev https://github.com/missionpinball/mpf.git _mpf;

install:
  - if [ "${TRAVIS_OS_NAME}" == "osx" ]; then
      brew update;
      brew install python3;
      brew install sdl2 sdl2_image sdl2_ttf sdl2_mixer gstreamer;
      pip3 install pip --upgrade;
      pip3 install -I Cython==0.24.1;
      git clone --recursive --branch ${TRAVIS_BRANCH} https://github.com/missionpinball/mpf.git _mpf || git clone --recursive --branch `python3 get_version.py` https://github.com/missionpinball/mpf.git _mpf || git clone --recursive --branch dev https://github.com/missionpinball/mpf.git _mpf;
      pip3 install -e _mpf/;
      USE_OSX_FRAMEWORKS=0 pip3 install kivy;
      pip3 install wheel setuptools --upgrade;
      USE_OSX_FRAMEWORKS=0 pip3 install .;

    fi;
  - pip3 install coveralls

env:
  global:
     secure: "WNvNRbHmintW6NlclAw3rbP4EzJ0Zt7gqVSha/+gC8Vo2pkbWphltgH5YwBGGM37ZRRbJ90Qm7aaLsFSpxOLnWlOlTw6/NBdKFEjvZISU8x7VcxlScNKTgDmeMYrDTsfbzoZJx7A6ZzxIm3fvRDcfhQcB0kI6wvLhcD1jHGqy0omfOHyFw51RfvRq07xsqavHN2Km9ObSqRCyMSuKNSCBHuIvGq7WnMfv+yU+iEV9pfQOEIo6JC7aySfIJ0gdgXK68RbWPLg1x4KwLsni9VDnOxXw9lPQbJfv9bpY1Fv3RWOQE763mHGojyorODrLCcYnKW+f177+h8PfBgIMMJdcF4CmanoGSrJG6QCp0GdauNzaqSXhGPFGIBToHPdFAW9XbHyVivFOP+rK8fo52euxX4rOgAF0oYuTxaz1SZn0x52u/BWG44Za9pQur8mZZHuZr9JpSzYF2u1FO3T4wj3noCBkXXe250WQp/zA1VrWgRPZgB9r6nxfguWsbzpia2dhcRDY+/jChJvc2mvHio8wlw3WhFhoUjUQkoGzmr/uio2j4SEo84wAClcQ5S6yzGY4IE8i8b4NZuJy9tsVS8+99TaR4TrUET1r+LqU7T4uN2Bp85zaw1ekmlj5xUD5/aJWagIM6kCv35nSD2camIQWVq0eiBqzOsu0npH9EhML0A="

script:
  - if [ "${TRAVIS_OS_NAME}" == "linux" ]; then
      docker run -v $PWD:$PWD -w $PWD mpf-mc/image /bin/sh -c "pip3 install --upgrade pillow coveralls setuptools pip; apt-get remove python-pip python-pip3; pip3 install -I Cython==0.24.1; pip3 install kivy; pip3 install -e _mpf/; python3 setup.py install; export DISPLAY=:99.0; /sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -screen 0 1280x720x24 -ac +extension GLX; export PYTHONPATH=$PYTHONPATH:$(pwd); coverage3 run --concurrency=thread -m unittest discover -s mpfmc/tests; coverage3 run -a --concurrency=thread -m unittest discover -s mpfmc/integration;";
    fi;

after_success:
  - if [ "${TRAVIS_OS_NAME}" == "linux" ]; then
      coveralls;
    fi;

  - if [ "${TRAVIS_OS_NAME}" == "osx" ]; then
      USE_OSX_FRAMEWORKS=0 python3 setup.py bdist_wheel;
      ls;
      cd dist;
      python3 ../build_scripts/rename_wheels.py;
      pip3 install twine;
      ls;
      python3 -m twine upload -u brianmadden -p $PYPI_PASS --skip-existing *;
    fi;
