#config_version=6

rgb_dmds:
  default:
    source_display: dmd
    only_send_changes: True
  grb_dmd:
    source_display: dmd
    channel_order: grb
    only_send_changes: True

window:
  width: 600
  height: 200
  title: Service Test
  resizable: true
  fullscreen: false
  borderless: false
  exit_on_escape: true
  source_display: window

displays:
  window:
    height: 200
    width: 600
  dmd:
    width: 128
    height: 32
    default: true

slides:
  dmd_slide_1:
  - type: rectangle
    width: 128
    height: 32
    z: 2
    color: 224466
  window_slide_1:
  - type: display
    width: 512
    height: 128
    source_display: dmd
    effects:
      - type: dmd
        dot_color: ff5500
        background_color: 220000
    z: 3
  - type: text
    text: MISSION PINBALL FRAMEWORK
    anchor_y: top
    y: top-3
    font_size: 30
    z: 1
    color: white
  - type: rectangle
    width: 514
    height: 130
    z: 2
    color: 444444

slide_player:
  mc_ready:
    window_slide_1:
      target: window
  show_dmd_slide_1:
    dmd_slide_1:
      target: dmd

widget_styles:
  text_default:
    font_size: 10
    adjust_top: 2
    adjust_bottom: 3
  medium:
    font_size: 8
    adjust_top: 1
    adjust_bottom: 1
  small:
    font_size: 9
    adjust_top: 2
    adjust_bottom: 3
