#config_version=6
mode:
  start_events: start_mode3
  stop_events: stop_mode3
  priority: 200
  start_priority: 1
  game_mode: False

slide_player:
  show_top_slide:
    top_slide:
      action: play
  show_content_slide:
    content_slide:
      action: play
      target: content_frame

slides:
  top_slide:
  - type: text
    text: MAIN TEXT
    anchor_y: top
    y: top-3
    font_size: 30
    z: 1
  - type: display
    width: 400
    height: 300
    source_display: content_frame
    z: 6
    animations:
      move_out:
        property: y
        value: -100
        duration: 0.5s
      move_back:
        property: y
        value: -134
        duration: 0.5s
  content_slide:
  - type: text
    text: "ASD"
    x: center - 20
  - type: text
    text: "ASD2"
    x: center + 20